<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<link href="/assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		Hello World! EJS

		<h1> Person: <%= ID %></h1>

		<form method="POST" action="/person">
			First Name: <input type="text" id="firstname" name="firstname" />
			Last Name: <input type="text" id="lastname" name="lastname" />
			<input type="submit" value="Submit" />
		</form>
	</body>
</html>