<!DOCTYPE html>
<html>
	<head>
		<title></title>

		<link href="assets/style.css" type="text/css" rel="stylesheet" />
	</head>
	<body>
		<h1> Person: <%= ID %></h1>
		<h2> QueryString Vlaue: <%= Qstr %> </h2>
	</body>
</html>